<a [href]="" class="list-group-item">
  <div class="media">
    <div class="media-left">
      <a [href]="channel.link">
        <img class="media-object" [src]="channel.imagePath" [alt]="'logo of' + channel.name" *ngIf="channel.onlineStatus; else noImage">
        <ng-template #noImage>
          <img class="media-object" src="./assets/person-thumb.jpg" alt="no logo available">
        </ng-template>
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">{{ channel.name }}</h4>
      <h6 class="label label-success" *ngIf="channel.onlineStatus">Online</h6>
      <h6 class="label label-default" *ngIf="!channel.onlineStatus">Offline</h6>
      <p *ngIf="channel.onlineStatus">{{ channel.description }}</p>
    </div>
  </div>
</a>