<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <app-dashboard></app-dashboard>
    </div>
    <div class="col-xs-1"></div>
    <div class="col-xs-7">
      <div class="row">
        <ul class="nav nav-tabs">
          <li role="presentation" [class.active]="filter == 'All'"><a (click)="updateFilter('All');">All</a></li>
          <li role="presentation" [class.active]="filter == 'Online'"><a (click)="updateFilter('Online');">Online</a></li>
          <li role="presentation" [class.active]="filter == 'Offline'"><a (click)="updateFilter('Offline');">Offline</a></li>
        </ul>
        <!--<div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Filter
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#" (click)="updateFilter('All');">All</a></li>
            <li><a href="#" (click)="updateFilter('Online');">Online</a></li>
            <li><a href="#" (click)="updateFilter('Offline');">Offline</a></li>
          </ul>
        </div>
      </div>-->
      <div class="row">
        <div class="list-group">
          <app-channel 
            *ngFor="let channel of channelList | filter:filter:'onlineStatus'" 
            [channel]="channel">
          </app-channel>
        </div>
      </div>
    </div>
  </div>
</div>